body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
  padding: 1rem;
}

input {
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
